textarea {
    height: 100px;
}

.fade-in {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
}

.fade-out {
    animation: fadeOut ease .5s;
    -webkit-animation: fadeOut ease .5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    font-size: small;
    width: -webkit-fill-available;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.dp-modal {
    margin: 0;
    background-color: var(--vscode-input-placeholderForeground);
}

.dp {
    background-color: var(--vscode-editor-background);
}

.dp-cal-header, .dp-footer, .dp-cal-footer, .dp-prev, .dp-cal-month, .dp-cal-year, .dp-next, .dp-today, .dp-clear, .dp-close {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.dp-day {
    color: var(--vscode-input-foreground);
}

.dp-edge-day {
    color: var(--vscode-input-placeholderForeground);
}

.dp-next, .dp-prev {
    padding: 0;
    z-index: 100;

}
